In [3]:
import pandas as pd

In [303]:
df = pd.read_html('https://www.pro-football-reference.com/years/2021/fantasy.htm')

In [304]:
df[0]

    Unnamed: 0_level_0 Unnamed: 1_level_0 Unnamed: 2_level_0  \
                    Rk             Player                 Tm
0                    1  Jonathan Taylor*+                IND
1                    2      Cooper Kupp*+                LAR
2                    3     Deebo Samuel*+                SFO
3                    4         Josh Allen                BUF
4                    5      Austin Ekeler                LAC
..                 ...                ...                ...
687                666    Travis Benjamin                SFO
688                667     Trenton Cannon                2TM
689                668       John Wolford                LAR
690                669         Josh Rosen                ATL
691                670    Diontae Spencer                DEN

    Unnamed: 3_level_0 Unnamed: 4_level_0 Games     Passing             ...  \
               FantPos                Age     G  GS     Cmp  Att   Yds  ...
0                   RB                 22    17  17       0    0     0  ...
1                   WR                 28    17  17       0    1     0  ...
2                   WR                 25    16  15       1    2    24  ...
3                   QB                 25    17  17     409  646  4407  ...
4                   RB                 26    16  16       0    0     0  ...
..                 ...                ...   ...  ..     ...  ...   ...  ...
687                NaN                 32    10   0       0    0     0  ...
688                 RB                 27    12   0       0    0     0  ...
689                 QB                 26     3   0       1    4     5  ...
690                 QB                 24     4   0       2   11    19  ...
691                 WR                 29    15   0       0    0     0  ...

    Scoring           Fantasy
         TD  2PM  2PP  FantPt    PPR   DKPt   FDPt  VBD PosRank OvRank
0        20  NaN  NaN     333  373.1  381.1  353.1  187       1      1
1        16    1  NaN     295  439.5  442.5  367.0  173       1      2
2        14  NaN  NaN     262  339.0  347.0  300.5  140       2      3
3         6    2    1     403  402.6  426.6  417.6  134       1      4
4        20    2  NaN     274  343.8  352.8  308.8  128       2      5
..      ...  ...  ...     ...    ...    ...    ...  ...     ...    ...
687       0  NaN  NaN      -2   -2.0   -1.0   -2.0  NaN     260    NaN
688       0  NaN  NaN      -2   -1.6   -0.6   -1.6  NaN     179    NaN
689       0  NaN  NaN      -2   -1.9   -0.9   -0.9  NaN      84    NaN
690       0  NaN  NaN      -3   -3.2   -1.2   -1.2  NaN      85    NaN
691       0  NaN  NaN      -4   -3.3   -1.3   -3.8  NaN     261    NaN

[692 rows x 33 columns]

In [91]:
df.set_index('Rank', inplace=True)
df

,Player,Team,Position,Age,Total Team Games,Games Started,Completions,Passing Attempts,Passing Yards,Passing TDs,...,Receiving Yards per Reception,Receiving TDs,Fumbles,Fumbles Lost,Total TDs,Total Fantasy Points,Points Per Reception,VBD,Position Rank,Overall Rank
Rank,,,,,,,,,,,,,,,,,,,,,
1,Jonathan Taylor*+,IND,RB,22,17,17,0,0,0,0,...,9.00,2,4,2,20,333,373.1,187,1,1
2,Cooper Kupp*+,LAR,WR,28,17,17,0,1,0,0,...,13.43,16,0,0,16,295,439.5,173,1,2
3,Deebo Samuel*+,SFO,WR,25,16,15,1,2,24,1,...,18.25,6,4,2,14,262,339.0,140,2,3
4,Josh Allen,BUF,QB,25,17,17,409,646,4407,36,...,NaN,0,8,3,6,403,402.6,134,1,4
5,Austin Ekeler,LAC,RB,26,16,16,0,0,0,0,...,9.24,8,4,3,20,274,343.8,128,2,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
666,Travis Benjamin,SFO,NaN,32,10,0,0,0,0,0,...,NaN,0,1,1,0,-2,-2.0,NaN,260,NaN
667,Trenton Cannon,2TM,RB,27,12,0,0,0,0,0,...,NaN,0,1,1,0,-2,-1.6,NaN,179,NaN
668,John Wolford,LAR,QB,26,3,0,1,4,5,0,...,NaN,0,0,0,0,-2,-1.9,NaN,84,NaN
669,Josh Rosen,ATL,QB,24,4,0,2,11,19,0,...,NaN,0,0,0,0,-3,-3.2,NaN,85,NaN
670,Diontae Spencer,DEN,WR,29,15,0,0,0,0,0,...,-3.00,0,2,2,0,-4,-3.3,NaN,261,NaN

In [92]:
def null_counter(df): return (df.isna().sum() / len(df) * 100).sort_values(ascending=False)

null = null_counter(df)

In [210]:
df = pd.read_csv('nfl_csv')

In [133]:
df.set_index('Rank', inplace=True)

In [134]:
df.head(29)

,Player,Team,Position,Age,Total Team Games,Games Started,Completions,Passing Attempts,Passing Yards,Passing TDs,...,Receiving Yards per Reception,Receiving TDs,Fumbles,Fumbles Lost,Total TDs,Total Fantasy Points,Points Per Reception,VBD,Position Rank,Overall Rank
Rank,,,,,,,,,,,,,,,,,,,,,
1,Jonathan Taylor*+,IND,RB,22,17,17,0,0,0,0,...,9.00,2,4,2,20,333,373.1,187,1,1
2,Cooper Kupp*+,LAR,WR,28,17,17,0,1,0,0,...,13.43,16,0,0,16,295,439.5,173,1,2
3,Deebo Samuel*+,SFO,WR,25,16,15,1,2,24,1,...,18.25,6,4,2,14,262,339.0,140,2,3
4,Josh Allen,BUF,QB,25,17,17,409,646,4407,36,...,NaN,0,8,3,6,403,402.6,134,1,4
5,Austin Ekeler,LAC,RB,26,16,16,0,0,0,0,...,9.24,8,4,3,20,274,343.8,128,2,5
6,Justin Herbert*,LAC,QB,23,17,17,443,672,5014,38,...,NaN,0,1,1,3,381,380.8,112,2,6
7,Tom Brady*,TAM,QB,44,17,17,485,719,5316,43,...,NaN,0,4,3,2,375,374.7,106,3,7
8,Mark Andrews*+,BAL,TE,26,17,9,0,0,0,0,...,12.72,9,1,0,9,194,301.1,102,1,8
9,Ja'Marr Chase*,CIN,WR,21,17,17,0,0,0,0,...,17.96,13,2,1,13,224,304.6,102,3,9
10,Justin Jefferson*,MIN,WR,22,17,17,2,4,35,0,...,14.96,10,1,1,10,222,330.4,101,4,10
11,Joe Mixon*,CIN,RB,25,16,16,0,0,0,0,...,7.48,3,2,1,16,246,287.9,100,3,11
12,Davante Adams*+,GNB,WR,29,16,16,0,0,0,0,...,12.63,11,0,0,11,221,344.3,100,5,12
13,Patrick Mahomes*,KAN,QB,26,17,17,436,658,4839,37,...,NaN,0,9,4,2,362,361.7,93,4,13
14,Najee Harris*,PIT,RB,23,17,17,0,0,0,0,...,6.31,3,0,0,10,227,300.7,81,4,14
15,Travis Kelce*,KAN,TE,32,16,16,0,0,0,0,...,12.23,9,1,1,10,171,262.8,79,2,15
16,James Conner*,ARI,RB,26,15,6,0,0,0,0,...,10.14,3,2,0,18,221,257.7,75,5,16
17,Mike Evans*,TAM,WR,28,16,16,0,0,0,0,...,13.99,14,0,0,14,189,262.5,67,6,17
18,Aaron Rodgers*+,GNB,QB,38,16,16,366,531,4115,37,...,-4.00,0,3,0,3,332,333.3,64,5,18
19,Tyreek Hill*,KAN,WR,27,17,16,0,0,0,0,...,11.16,9,2,1,9,186,296.5,64,7,19
20,Matthew Stafford,LAR,QB,33,17,17,404,601,4886,41,...,NaN,0,5,2,0,330,329.7,61,6,20
21,Stefon Diggs*,BUF,WR,28,17,17,0,0,0,0,...,11.89,10,1,0,10,183,285.5,61,8,21
22,Ezekiel Elliott,DAL,RB,26,17,17,1,1,4,0,...,6.11,2,1,1,12,205,252.1,59,6,22
23,Dak Prescott,DAL,QB,28,16,16,410,596,4449,37,...,NaN,0,14,6,1,321,320.6,52,7,23
24,Nick Chubb*,CLE,RB,26,14,14,0,0,0,0,...,8.70,1,2,1,9,195,215.3,49,7,24
25,Mike Williams,LAC,WR,27,16,14,0,0,0,0,...,15.08,9,0,0,9,171,246.6,49,9,25
26,D.K. Metcalf,SEA,WR,24,17,17,0,0,0,0,...,12.89,12,1,0,12,169,244.3,48,10,26
27,Tyler Lockett,SEA,WR,29,16,16,0,0,0,0,...,16.10,8,0,0,8,168,241.4,47,11,27
28,Damien Harris,NWE,RB,24,15,15,0,0,0,0,...,7.33,0,2,2,15,192,210.1,46,8,28
29,Joe Burrow,CIN,QB,25,16,16,366,520,4611,34,...,NaN,0,5,2,2,314,314.2,46,8,29

In [225]:
df['Position'].value_counts()

WR    169
TE    103
RB     94
QB     61
Name: Position, dtype: int64

In [213]:
df.reset_index(inplace=True)
df

,index,Rank,Player,Team,Position,Age,Total Team Games,Games Started,Completions,Passing Attempts,...,Receiving Yards per Reception,Receiving TDs,Fumbles,Fumbles Lost,Total TDs,Total Fantasy Points,Points Per Reception,VBD,Position Rank,Overall Rank
0,0,1,Jonathan Taylor*+,IND,RB,22,17,17,0,0,...,9.00,2,4,2,20,333,373.1,187,1,1
1,1,2,Cooper Kupp*+,LAR,WR,28,17,17,0,1,...,13.43,16,0,0,16,295,439.5,173,1,2
2,2,3,Deebo Samuel*+,SFO,WR,25,16,15,1,2,...,18.25,6,4,2,14,262,339.0,140,2,3
3,3,4,Josh Allen,BUF,QB,25,17,17,409,646,...,NaN,0,8,3,6,403,402.6,134,1,4
4,4,5,Austin Ekeler,LAC,RB,26,16,16,0,0,...,9.24,8,4,3,20,274,343.8,128,2,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
666,666,666,Travis Benjamin,SFO,NaN,32,10,0,0,0,...,NaN,0,1,1,0,-2,-2.0,NaN,260,NaN
667,667,667,Trenton Cannon,2TM,RB,27,12,0,0,0,...,NaN,0,1,1,0,-2,-1.6,NaN,179,NaN
668,668,668,John Wolford,LAR,QB,26,3,0,1,4,...,NaN,0,0,0,0,-2,-1.9,NaN,84,NaN
669,669,669,Josh Rosen,ATL,QB,24,4,0,2,11,...,NaN,0,0,0,0,-3,-3.2,NaN,85,NaN
670,670,670,Diontae Spencer,DEN,WR,29,15,0,0,0,...,-3.00,0,2,2,0,-4,-3.3,NaN,261,NaN

In [214]:
df.set_index('Position', inplace=True)

In [215]:
df.drop('FantPos', axis=0, inplace=True)

In [216]:
df.reset_index(inplace=True)
df

,Position,index,Rank,Player,Team,Age,Total Team Games,Games Started,Completions,Passing Attempts,...,Receiving Yards per Reception,Receiving TDs,Fumbles,Fumbles Lost,Total TDs,Total Fantasy Points,Points Per Reception,VBD,Position Rank,Overall Rank
0,RB,0,1,Jonathan Taylor*+,IND,22,17,17,0,0,...,9.00,2,4,2,20,333,373.1,187,1,1
1,WR,1,2,Cooper Kupp*+,LAR,28,17,17,0,1,...,13.43,16,0,0,16,295,439.5,173,1,2
2,WR,2,3,Deebo Samuel*+,SFO,25,16,15,1,2,...,18.25,6,4,2,14,262,339.0,140,2,3
3,QB,3,4,Josh Allen,BUF,25,17,17,409,646,...,NaN,0,8,3,6,403,402.6,134,1,4
4,RB,4,5,Austin Ekeler,LAC,26,16,16,0,0,...,9.24,8,4,3,20,274,343.8,128,2,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
665,NaN,666,666,Travis Benjamin,SFO,32,10,0,0,0,...,NaN,0,1,1,0,-2,-2.0,NaN,260,NaN
666,RB,667,667,Trenton Cannon,2TM,27,12,0,0,0,...,NaN,0,1,1,0,-2,-1.6,NaN,179,NaN
667,QB,668,668,John Wolford,LAR,26,3,0,1,4,...,NaN,0,0,0,0,-2,-1.9,NaN,84,NaN
668,QB,669,669,Josh Rosen,ATL,24,4,0,2,11,...,NaN,0,0,0,0,-3,-3.2,NaN,85,NaN
669,WR,670,670,Diontae Spencer,DEN,29,15,0,0,0,...,-3.00,0,2,2,0,-4,-3.3,NaN,261,NaN

In [217]:
df=df.replace('\*','',regex=True)
df=df.replace('\+','',regex=True)
df

,Position,index,Rank,Player,Team,Age,Total Team Games,Games Started,Completions,Passing Attempts,...,Receiving Yards per Reception,Receiving TDs,Fumbles,Fumbles Lost,Total TDs,Total Fantasy Points,Points Per Reception,VBD,Position Rank,Overall Rank
0,RB,0,1,Jonathan Taylor,IND,22,17,17,0,0,...,9.00,2,4,2,20,333,373.1,187,1,1
1,WR,1,2,Cooper Kupp,LAR,28,17,17,0,1,...,13.43,16,0,0,16,295,439.5,173,1,2
2,WR,2,3,Deebo Samuel,SFO,25,16,15,1,2,...,18.25,6,4,2,14,262,339.0,140,2,3
3,QB,3,4,Josh Allen,BUF,25,17,17,409,646,...,NaN,0,8,3,6,403,402.6,134,1,4
4,RB,4,5,Austin Ekeler,LAC,26,16,16,0,0,...,9.24,8,4,3,20,274,343.8,128,2,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
665,NaN,666,666,Travis Benjamin,SFO,32,10,0,0,0,...,NaN,0,1,1,0,-2,-2.0,NaN,260,NaN
666,RB,667,667,Trenton Cannon,2TM,27,12,0,0,0,...,NaN,0,1,1,0,-2,-1.6,NaN,179,NaN
667,QB,668,668,John Wolford,LAR,26,3,0,1,4,...,NaN,0,0,0,0,-2,-1.9,NaN,84,NaN
668,QB,669,669,Josh Rosen,ATL,24,4,0,2,11,...,NaN,0,0,0,0,-3,-3.2,NaN,85,NaN
669,WR,670,670,Diontae Spencer,DEN,29,15,0,0,0,...,-3.00,0,2,2,0,-4,-3.3,NaN,261,NaN

In [218]:
df['Team'].value_counts()

2TM    28
NYJ    26
NYG    24
TEN    24
SFO    23
CLE    22
WAS    22
NOR    22
MIA    22
CAR    21
TAM    21
CHI    21
DET    21
DEN    20
DAL    20
GNB    20
PIT    19
NWE    19
LAR    19
MIN    19
CIN    19
LAC    19
IND    19
JAX    18
HOU    18
PHI    18
LVR    18
ATL    18
SEA    18
ARI    18
KAN    18
BAL    18
BUF    16
3TM     2
Name: Team, dtype: int64

In [219]:
df = df[df['Team'] != '2TM']
df = df[df['Team'] != '3TM']

In [220]:
df = df[df['Games Started'] != '0']
df

,Position,index,Rank,Player,Team,Age,Total Team Games,Games Started,Completions,Passing Attempts,...,Receiving Yards per Reception,Receiving TDs,Fumbles,Fumbles Lost,Total TDs,Total Fantasy Points,Points Per Reception,VBD,Position Rank,Overall Rank
0,RB,0,1,Jonathan Taylor,IND,22,17,17,0,0,...,9.00,2,4,2,20,333,373.1,187,1,1
1,WR,1,2,Cooper Kupp,LAR,28,17,17,0,1,...,13.43,16,0,0,16,295,439.5,173,1,2
2,WR,2,3,Deebo Samuel,SFO,25,16,15,1,2,...,18.25,6,4,2,14,262,339.0,140,2,3
3,QB,3,4,Josh Allen,BUF,25,17,17,409,646,...,NaN,0,8,3,6,403,402.6,134,1,4
4,RB,4,5,Austin Ekeler,LAC,26,16,16,0,0,...,9.24,8,4,3,20,274,343.8,128,2,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
636,NaN,637,637,Giovanni Ricci,CAR,25,16,1,0,0,...,NaN,0,0,0,0,NaN,NaN,NaN,133,NaN
644,NaN,645,645,Nate Solder,NYG,33,16,16,0,0,...,NaN,0,0,0,0,NaN,NaN,NaN,135,NaN
647,NaN,648,648,Colin Thompson,CAR,28,11,2,0,0,...,NaN,0,0,0,0,NaN,NaN,NaN,138,NaN
656,NaN,657,657,David Wells,ARI,26,3,1,0,0,...,NaN,0,0,0,0,NaN,NaN,NaN,142,NaN
659,RB,660,660,Khari Blasingame,TEN,25,11,3,0,0,...,2.00,0,1,1,0,-1,1.0,NaN,178,NaN

In [244]:
df = pd.read_csv('nfl2.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 434 entries, 0 to 433
Data columns (total 28 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Player                         434 non-null    object
 1   Completions                    434 non-null    int64
 2   Passing Attempts               434 non-null    int64
 3   Passing Yards                  434 non-null    int64
 4   Passing TDs                    434 non-null    int64
 5   Interceptions                  434 non-null    int64
 6   Rush Attempts                  434 non-null    int64
 7   Rushing Yards                  434 non-null    int64
 8   Rushing Yards per Attempt      254 non-null    float64
 9   Rush TDs                       434 non-null    int64
 10  Targets                        434 non-null    int64
 11  Receptions                     434 non-null    int64
 12  Receiving Yards                434 non-null    int64
 13  Receiving Yards per Reception  370 non-null    float64
 14  Receiving TDs                  434 non-null    int64
 15  Fumbles                        434 non-null    int64
 16  Fumbles Lost                   434 non-null    int64
 17  Total TDs                      434 non-null    int64
 18  Total Fantasy Points           424 non-null    float64
 19  Points Per Reception           427 non-null    float64
 20  VBD                            72 non-null     float64
 21  Position Rank                  434 non-null    int64
 22  Overall Rank                   76 non-null     float64
 23  Rank                           434 non-null    int64
 24  Position                       427 non-null    object
 25  Team                           434 non-null    object
 26  Age                            434 non-null    int64
 27  Total Team Games               434 non-null    int64
dtypes: float64(6), int64(19), object(3)
memory usage: 95.1+ KB

In [298]:
qb_df = nfl[nfl['Position'] == 'QB']
rb_df = nfl[nfl['Position'] == 'RB']
te_df = nfl[nfl['Position'] == 'TE']
wr_df = nfl[nfl['Position'] == 'WR']

In [236]:
qb_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 61 entries, 3 to 415
Data columns (total 28 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Player                         61 non-null     object
 1   Completions                    61 non-null     int64
 2   Passing Attempts               61 non-null     int64
 3   Passing Yards                  61 non-null     int64
 4   Passing TDs                    61 non-null     int64
 5   Interceptions                  61 non-null     int64
 6   Rush Attempts                  61 non-null     int64
 7   Rushing Yards                  61 non-null     int64
 8   Rushing Yards per Attempt      59 non-null     float64
 9   Rush TDs                       61 non-null     int64
 10  Targets                        61 non-null     int64
 11  Receptions                     61 non-null     int64
 12  Receiving Yards                61 non-null     int64
 13  Receiving Yards per Reception  5 non-null      float64
 14  Receiving TDs                  61 non-null     int64
 15  Fumbles                        61 non-null     int64
 16  Fumbles Lost                   61 non-null     int64
 17  Total TDs                      61 non-null     int64
 18  Total Fantasy Points           61 non-null     float64
 19  Points Per Reception           61 non-null     float64
 20  VBD                            11 non-null     float64
 21  Position Rank                  61 non-null     int64
 22  Overall Rank                   12 non-null     float64
 23  Rank                           61 non-null     int64
 24  Position                       61 non-null     object
 25  Team                           61 non-null     object
 26  Age                            61 non-null     int64
 27  Total Team Games               61 non-null     int64
dtypes: float64(6), int64(19), object(3)
memory usage: 13.8+ KB

In [238]:
qb_df2 = qb_df.groupby('Team')

In [239]:
qb_df2

In [179]:
qb_df['Team'].value_counts()

NOR    4
CHI    3
NYJ    3
CAR    3
NYG    3
CLE    3
WAS    3
SEA    2
HOU    2
MIA    2
DET    2
DEN    2
PIT    2
BAL    2
SFO    2
ARI    2
PHI    2
GNB    2
MIN    2
DAL    2
CIN    2
TAM    1
KAN    1
LAR    1
LVR    1
LAC    1
JAX    1
TEN    1
IND    1
ATL    1
NWE    1
BUF    1
Name: Team, dtype: int64

In [181]:
def duplicates(df): 
    duplicates = df.duplicated(['Team'], keep='first')
    df = df[~duplicates]
    if isinstance(df, (pd.DatetimeIndex, pd.MultiIndex)):
        df = df.to_frame(index=False)

In [185]:
qb_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32 entries, 3 to 105
Data columns (total 29 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Position                       32 non-null     object
 1   Rank                           32 non-null     object
 2   Player                         32 non-null     object
 3   Team                           32 non-null     object
 4   Age                            32 non-null     object
 5   Total Team Games               32 non-null     object
 6   Games Started                  32 non-null     object
 7   Completions                    32 non-null     object
 8   Passing Attempts               32 non-null     object
 9   Passing Yards                  32 non-null     object
 10  Passing TDs                    32 non-null     object
 11  Interceptions                  32 non-null     object
 12  Rush Attempts                  32 non-null     object
 13  Rushing Yards                  32 non-null     object
 14  Rushing Yards per Attempt      32 non-null     object
 15  Rush TDs                       32 non-null     object
 16  Targets                        32 non-null     object
 17  Receptions                     32 non-null     object
 18  Receiving Yards                32 non-null     object
 19  Receiving Yards per Reception  4 non-null      object
 20  Receiving TDs                  32 non-null     object
 21  Fumbles                        32 non-null     object
 22  Fumbles Lost                   32 non-null     object
 23  Total TDs                      32 non-null     object
 24  Total Fantasy Points           32 non-null     object
 25  Points Per Reception           32 non-null     object
 26  VBD                            11 non-null     object
 27  Position Rank                  32 non-null     object
 28  Overall Rank                   12 non-null     object
dtypes: object(29)
memory usage: 7.5+ KB

In [206]:
rb_df['Team'].value_counts()

SFO    5
DET    5
CLE    5
TEN    4
BAL    4
NWE    4
NYJ    4
LVR    4
ATL    3
MIA    3
CHI    3
LAC    3
MIN    3
JAX    3
SEA    3
TAM    3
WAS    3
NOR    3
NYG    3
PHI    3
LAR    2
CAR    2
IND    2
DEN    2
KAN    2
BUF    2
GNB    2
ARI    2
PIT    2
CIN    2
HOU    2
DAL    1
Name: Team, dtype: int64

In [196]:
copy_rb = rb_df

In [202]:
copy_rb = copy_rb.sort_values('Team',ascending=False).drop_duplicates(['Player','Total Fantasy Points']).sort_values('Total Fantasy Points').groupby('Player').agg({'Team':'last','Total Fantasy Points':'sum'}).reset_index()

In [203]:
copy_rb

             Player Team Total Fantasy Points
0         AJ Dillon  GNB                  152
1       Aaron Jones  GNB                  177
2     Adam Prentice  NOR                    2
3       Alec Ingold  LVR                   15
4      Alex Collins  SEA                   60
..              ...  ...                  ...
89    Tevin Coleman  NYJ                   41
90       Tony Jones  NOR                   17
91      Trey Sermon  SFO                   25
92       Ty Johnson  NYJ                   83
93  Ty'Son Williams  BAL                   33

[94 rows x 3 columns]

In [208]:
rb_df.sort_values("Team", inplace=True)
rb_df

,Position,Rank,Player,Team,Age,Total Team Games,Games Started,Completions,Passing Attempts,Passing Yards,...,Receiving Yards per Reception,Receiving TDs,Fumbles,Fumbles Lost,Total TDs,Total Fantasy Points,Points Per Reception,VBD,Position Rank,Overall Rank
126,RB,127,Chase Edmonds,ARI,25,12,11,0,0,0,...,7.23,0,1,1,2,100,143.3,NaN,37,NaN
15,RB,16,James Conner,ARI,26,15,6,0,0,0,...,10.14,3,2,0,18,221,257.7,75,5,16
436,RB,437,Keith Smith,ATL,29,17,8,0,0,0,...,6.22,0,0,0,0,9,17.7,NaN,125,NaN
35,RB,36,Cordarrelle Patterson,ATL,30,16,13,0,1,0,...,10.54,5,2,0,11,183,234.6,37,12,36
130,RB,131,Mike Davis,ATL,28,17,8,0,0,0,...,5.89,1,4,3,4,94,138.2,NaN,39,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43,RB,44,Derrick Henry,TEN,27,8,8,1,1,5,...,8.56,0,1,0,10,175,193.3,29,14,44
659,RB,660,Khari Blasingame,TEN,25,11,3,0,0,0,...,2.00,0,1,1,0,-1,1.0,NaN,178,NaN
152,RB,153,J.D. McKissic,WAS,28,11,3,0,0,0,...,9.23,2,0,0,4,85,127.9,NaN,50,NaN
32,RB,33,Antonio Gibson,WAS,23,16,14,0,0,0,...,7.00,3,6,4,10,187,229.1,41,10,33
240,RB,241,Jaret Patterson,WAS,22,17,1,0,0,0,...,7.30,0,1,0,2,46,55.9,NaN,69,NaN

In [254]:
wr_df = wr_df[wr_df['Total Fantasy Points'] >= 40]

In [308]:
nfl.to_csv('nfl.csv')
qb_df.to_csv('qb.csv')
rb_df.to_csv('rb.csv')
te_df.to_csv('te.csv')
wr_df.to_csv('wr.csv')

In [258]:
result = pd.concat([qb_df, rb_df, te_df, wr_df])

In [259]:
result

,Player,Completions,Passing Attempts,Passing Yards,Passing TDs,Interceptions,Rush Attempts,Rushing Yards,Rushing Yards per Attempt,Rush TDs,...,Total Fantasy Points,Points Per Reception,VBD,Position Rank,Overall Rank,Position,Team,Age,Total Team Games,index
0,Josh Allen,409,646,4407,36,15,122,763,6.25,6,...,403.0,402.6,134.0,1,4,QB,BUF,25,17,NaN
1,Justin Herbert,443,672,5014,38,15,63,302,4.79,3,...,381.0,380.8,112.0,2,6,QB,LAC,23,17,NaN
2,Tom Brady,485,719,5316,43,12,28,81,2.89,2,...,375.0,374.7,106.0,3,7,QB,TAM,44,17,NaN
3,Patrick Mahomes,436,658,4839,37,13,66,381,5.77,2,...,362.0,361.7,93.0,4,13,QB,KAN,26,17,NaN
4,Aaron Rodgers,366,531,4115,37,4,33,101,3.06,3,...,332.0,333.3,64.0,5,18,QB,GNB,38,16,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98,Kadarius Toney,1,3,19,0,0,3,6,2.00,0,...,43.0,82.4,NaN,102,253,WR,NYG,22,10,236.0
99,Sammy Watkins,0,0,0,0,0,0,0,NaN,0,...,43.0,70.4,NaN,101,254,WR,BAL,28,13,237.0
100,Sterling Shepard,0,0,0,0,0,1,-9,-9.00,0,...,42.0,77.7,NaN,106,256,WR,NYG,28,7,239.0
101,James Washington,0,0,0,0,0,2,13,6.50,0,...,42.0,65.8,NaN,105,257,WR,PIT,25,15,240.0
102,Calvin Ridley,0,0,0,0,0,0,0,NaN,0,...,40.0,71.1,NaN,107,265,WR,ATL,27,5,246.0

In [263]:
import numpy as np

In [272]:
result['VBD'].fillna(0, inplace=True)

In [266]:
import math
for 
[0 if math.isnan(i) else i for i in result['Rushing Yards per Attempt']]

[6.25,
 4.79,
 2.89,
 5.77,
 3.06,
 1.34,
 3.04,
 2.95,
 5.64,
 4.81,
 3.97,
 4.91,
 3.77,
 2.7,
 4.26,
 5.77,
 1.34,
 2.93,
 2.05,
 5.22,
 0.25,
 3.53,
 4.58,
 5.12,
 3.62,
 3.05,
 4.81,
 4.63,
 2.44,
 6.38,
 5.83,
 5.34,
 5.45,
 4.42,
 4.13,
 3.91,
 3.72,
 4.23,
 5.52,
 4.6,
 3.74,
 4.02,
 4.51,
 4.04,
 4.67,
 4.28,
 4.65,
 4.02,
 4.52,
 4.45,
 4.63,
 3.77,
 4.29,
 3.88,
 4.09,
 4.65,
 4.68,
 4.62,
 3.54,
 4.06,
 4.35,
 6.29,
 4.33,
 3.56,
 3.66,
 4.09,
 4.56,
 5.1,
 4.34,
 3.64,
 3.66,
 4.21,
 3.93,
 4.46,
 5.5,
 4.28,
 4.95,
 4.29,
 4.26,
 5.34,
 4.42,
 5.14,
 3.9,
 3.5,
 4.03,
 4.93,
 4.24,
 4.2,
 5.35,
 3.81,
 4.65,
 6.25,
 0.0,
 1.5,
 0,
 6.67,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1.0,
 6.67,
 0.0,
 -3.0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 4.44,
 0,
 0,
 0,
 0,
 0,
 0,
 1.5,
 0,
 0,
 0,
 0,
 3.67,
 0,
 0,
 0,
 0,
 0,
 4.5,
 6.19,
 3.0,
 2.33,
 0,
 10.0,
 10.67,
 0,
 0,
 6.0,
 4.5,
 10.6,
 1.0,
 8.44,
 0,
 8.8,
 0,
 6.0,
 5.25,
 1.5,
 10.5,
 5.33,
 8.71,
 12.0,
 5.0,
 0,
 2.0,
 11.0,
 10.42,
 0,
 5.0,
 10.0,
 11.0,
 3.4,
 10.0,
 6.86,
 0,
 0,
 0,
 0,
 10.67,
 9.0,
 0,
 5.5,
 0,
 10.8,
 0,
 5.75,
 0,
 15.5,
 12.0,
 0,
 7.0,
 5.75,
 6.67,
 6.0,
 0,
 8.2,
 0,
 5.71,
 0.0,
 3.0,
 0,
 0,
 3.67,
 1.0,
 4.86,
 0,
 3.73,
 8.9,
 6.4,
 5.33,
 0,
 6.0,
 0,
 1.5,
 2.0,
 0,
 0,
 0,
 10.5,
 0,
 4.22,
 15.86,
 0,
 0,
 0,
 0,
 7.14,
 0,
 0,
 0,
 1.5,
 0,
 3.2,
 0,
 3.0,
 -13.0,
 2.0,
 0,
 -9.0,
 6.5,
 0]

In [293]:
final = pd.read_csv('nfl.csv')
final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 246 entries, 0 to 245
Data columns (total 27 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Overall Rank                   246 non-null    int64
 1   Position Rank                  246 non-null    int64
 2   Player                         246 non-null    object
 3   Team                           246 non-null    object
 4   Position                       246 non-null    object
 5   Age                            246 non-null    int64
 6   Completions                    246 non-null    int64
 7   Passing Attempts               246 non-null    int64
 8   Passing Yards                  246 non-null    int64
 9   Passing TDs                    246 non-null    int64
 10  Interceptions                  246 non-null    int64
 11  Rush Attempts                  246 non-null    int64
 12  Rushing Yards                  246 non-null    int64
 13  Rushing Yards per Attempt      246 non-null    float64
 14  Rush TDs                       246 non-null    int64
 15  Targets                        246 non-null    int64
 16  Receptions                     246 non-null    int64
 17  Receiving Yards                246 non-null    int64
 18  Receiving Yards per Reception  246 non-null    float64
 19  Points Per Reception           246 non-null    float64
 20  Receiving TDs                  246 non-null    int64
 21  Fumbles                        246 non-null    int64
 22  Fumbles Lost                   246 non-null    int64
 23  Total TDs                      246 non-null    int64
 24  Total Fantasy Points           246 non-null    float64
 25  VBD                            246 non-null    float64
 26  Total Games Played             246 non-null    int64
dtypes: float64(5), int64(19), object(3)
memory usage: 52.0+ KB

In [276]:
from sqlalchemy import create_engine

In [280]:
import sqlite3

In [300]:
con = sqlite3.connect('/Users/ccbernal/Desktop/nfl.db.sqlite')

In [287]:
nfl = final
nfl.set_index('Overall Rank', inplace=True)

In [301]:
# nfl.to_sql('nfl', con, if_exists='replace')
qb_df.to_sql('qb', con, if_exists='replace')
rb_df.to_sql('rb', con, if_exists='replace')
wr_df.to_sql('wr', con, if_exists='replace')
te_df.to_sql('te', con, if_exists='replace')

In [305]:
nfl_sql_test = pd.read_sql_query("SELECT * from nfl", con)
nfl_sql_test

,Overall Rank,Position Rank,Player,Team,Position,Age,Completions,Passing Attempts,Passing Yards,Passing TDs,...,Receiving Yards,Receiving Yards per Reception,Points Per Reception,Receiving TDs,Fumbles,Fumbles Lost,Total TDs,Total Fantasy Points,VBD,Total Games Played
0,4,1,Josh Allen,BUF,QB,25,409,646,4407,36,...,0,0.00,402.6,0,8,3,6,403.0,134.0,17
1,6,2,Justin Herbert,LAC,QB,23,443,672,5014,38,...,0,0.00,380.8,0,1,1,3,381.0,112.0,17
2,7,3,Tom Brady,TAM,QB,44,485,719,5316,43,...,0,0.00,374.7,0,4,3,2,375.0,106.0,17
3,13,4,Patrick Mahomes,KAN,QB,26,436,658,4839,37,...,0,0.00,361.7,0,9,4,2,362.0,93.0,17
4,18,5,Aaron Rodgers,GNB,QB,38,366,531,4115,37,...,-4,-4.00,333.3,0,3,0,3,332.0,64.0,16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
241,253,102,Kadarius Toney,NYG,WR,22,1,3,19,0,...,420,10.77,82.4,0,0,0,0,43.0,0.0,10
242,254,101,Sammy Watkins,BAL,WR,28,0,0,0,0,...,394,14.59,70.4,1,1,1,1,43.0,0.0,13
243,256,106,Sterling Shepard,NYG,WR,28,0,0,0,0,...,366,10.17,77.7,1,0,0,1,42.0,0.0,7
244,257,105,James Washington,PIT,WR,25,0,0,0,0,...,285,11.88,65.8,2,0,0,2,42.0,0.0,15
245,265,107,Calvin Ridley,ATL,WR,27,0,0,0,0,...,281,9.06,71.1,2,0,0,2,40.0,0.0,5

In [306]:
nfl

,Position Rank,Player,Team,Position,Age,Completions,Passing Attempts,Passing Yards,Passing TDs,Interceptions,...,Receiving Yards,Receiving Yards per Reception,Points Per Reception,Receiving TDs,Fumbles,Fumbles Lost,Total TDs,Total Fantasy Points,VBD,Total Games Played
Overall Rank,,,,,,,,,,,,,,,,,,,,,
4,1,Josh Allen,BUF,QB,25,409,646,4407,36,15,...,0,0.00,402.6,0,8,3,6,403.0,134.0,17
6,2,Justin Herbert,LAC,QB,23,443,672,5014,38,15,...,0,0.00,380.8,0,1,1,3,381.0,112.0,17
7,3,Tom Brady,TAM,QB,44,485,719,5316,43,12,...,0,0.00,374.7,0,4,3,2,375.0,106.0,17
13,4,Patrick Mahomes,KAN,QB,26,436,658,4839,37,13,...,0,0.00,361.7,0,9,4,2,362.0,93.0,17
18,5,Aaron Rodgers,GNB,QB,38,366,531,4115,37,4,...,-4,-4.00,333.3,0,3,0,3,332.0,64.0,16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
253,102,Kadarius Toney,NYG,WR,22,1,3,19,0,0,...,420,10.77,82.4,0,0,0,0,43.0,0.0,10
254,101,Sammy Watkins,BAL,WR,28,0,0,0,0,0,...,394,14.59,70.4,1,1,1,1,43.0,0.0,13
256,106,Sterling Shepard,NYG,WR,28,0,0,0,0,0,...,366,10.17,77.7,1,0,0,1,42.0,0.0,7
257,105,James Washington,PIT,WR,25,0,0,0,0,0,...,285,11.88,65.8,2,0,0,2,42.0,0.0,15
265,107,Calvin Ridley,ATL,WR,27,0,0,0,0,0,...,281,9.06,71.1,2,0,0,2,40.0,0.0,5